<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnson.qqmessageprank">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PrankGuid"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MonitorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="monitor_service" />
            </intent-filter>
        </service>
        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="player_service" />
            </intent-filter>
        </service>

    </application>

</manifest>
